/* حذف حاشیه‌ها و تنظیمات اولیه */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ارتفاع و عرض کل صفحه */
html, body {
    width: 100%;
    height: 100%;
}

/* تنظیم کانتینر برای پوشش کامل */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* پس‌زمینه سیاه برای هماهنگی */
}

/* تنظیم تصویر برای پوشش کامل */
.menu-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* نمایش کامل تصویر با حفظ تناسب */
}
